.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: $color-Grey-light-2;
    box-shadow: $shadow-dark;
    
    
    min-height: 50rem;
}

.header{
    font-size: 1.4rem;
    min-height: 7rem;
    background-color: #fff;
    border-bottom: $line;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    // margin-top: 6rem;
}

.sidebar{
    background-color: $color-Grey-dark-1;
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    font-size: 1.4rem;
    background-color: #fff;
    flex: 1;
    // height: 80rem;
}

.description{
    background-color: #fff;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    box-shadow: $box-shadow-1;
    padding: 3rem;
}

.user-reviews{
    // background-color: yellowgreen;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}