.composition{
    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        transition: all 0.2s;
        z-index: 10;
        outline-offset: 2rem;

        @include respond(tab-port){
            float: left;
            position: relative;
            width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);


        }


        &--p1{
            left: 0;
            top: -2rem;
        @include respond(tab-port){
            top: 0;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
}
        }
        &--p2{
            right: 0;
            top: 2rem;

            @include respond(tab-port){
                top: -1rem;
                transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -ms-transform: scale(1.3);
                -o-transform: scale(1.3);
                z-index: 100;
}
        }
        &--p3{
            left: 20%;
            top: 10rem;

            @include respond(tab-port){
                top: 1rem;
                left: 0;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
}
        }

        &:hover{
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            z-index: 200;
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            -webkit-transform: scale(1.05) translateY(-.5rem);
            -moz-transform: scale(1.05) translateY(-.5rem);
            -ms-transform: scale(1.05) translateY(-.5rem);
            -o-transform: scale(1.05) translateY(-.5rem);
            
            @include respond(tab-port){
                transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -ms-transform: scale(1.3);
                -o-transform: scale(1.3);
}

}
    }

    &:hover &__photo:not(:hover){
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
}


}