.feature-box{
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    @include respond(tab-port){
        padding: 2rem;
    }
    


    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light-text, $color-primary-dark-text);
        background-clip: text;
        -webkit-background-clip: text;
        transition: transform .3s ;
        color: transparent;

        @include respond(tab-port){
            margin-bottom: 0;
        }
        
    }
    &:hover{
        transform: scale(1.03) translateY(-1.5rem);
        -webkit-transform: scale(1.03) translateY(-1.5rem);
        -moz-transform: scale(1.03) translateY(-1.5rem);
        -ms-transform: scale(1.03) translateY(-1.5rem);
        -o-transform: scale(1.03) translateY(-1.5rem);
    }
}