// LOGO

.logo{
    height: 3.25rem;
    margin-left: 2rem;
}

// SEARCH
.search{
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest){
        order: 1;
        flex: 0 0 100%;
        background-color: $color-Grey-light-2;

    }


    &__input{
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: $color-Grey-light-2;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        width: 90%;
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;

        margin-right: -3rem;
        
        
        &:focus{
            outline: none;
            width: 100%;
            background-color: $color-Grey-light-3;   
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: $color-Grey-light-4;

        }
        
    }
    
    &__input:focus + &__button {
        background-color: $color-Grey-light-3;

    }
    
    &__button{
        border: none;
        background-color: $color-Grey-light-2;

        &:focus{
            outline: none;
        }
        &:active{
            transform: translateY(2px);
            -webkit-transform: translateY(2px);
            -moz-transform: translateY(2px);
            -ms-transform: translateY(2px);
            -o-transform: translateY(2px);
}
        

    }

    &__icon{
        // formatting SVG icon
        height: 2rem;
        width: 2rem;
        fill: $color-Grey-dark-3;
    }
}

// USER NAVIGATION

.user-nav{
    display: flex;
    align-items: center;

    align-self: stretch;

    & > * {
        // all the direct children of the user-nav
        padding: 0 2rem;
        cursor: pointer;  
        height: 100%;
        display: flex;
        align-items: center;
    } 

    & > *:hover{
        background-color: $color-Grey-light-2;
    }

    &__icon-box{
        position: relative;
    }

    &__icon{
        // formatting SVG icon
        height: 2.25rem;
        width: 2.25rem;
        fill: $color-Grey-dark-2;
    }

    &__notification{
        font-size: 0.8rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: $color-primary;
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
}

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 1rem;
}

    &__user-name{
        color: $color-Grey-dark-2;
    }
}

// SIDE NAVIGATION
.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium){
        display: flex;
        margin: 0;
    }

    &__item{
        position: relative;

        &:not(:last-child){
            margin-bottom: .5rem;

            @media only screen and (max-width: $bp-medium){
                margin-bottom: 0;
            }
        }

        @media only screen and (max-width: $bp-medium){
            flex: 1;
        }
    }

    &__item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $color-primary;
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
        -webkit-transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
        -moz-transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
        -ms-transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
        -o-transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
}

    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);

        width: 100%;
}

    &__item:active::before{
        background-color: $color-Primary-light;
    }


    &__link:link,
    &__link:visited{
        color: $color-Grey-light-1;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 1.5rem 3rem;

        display: flex;
        align-items: center;

        // z-index only work with position
        position: relative;
        z-index: 10;

        @media only screen and (max-width: $bp-medium){
            justify-content: center;
            padding: 2rem;
        }

        @media only screen and (max-width: $bp-small){
            flex-direction: column;
            padding: 1.5rem .5rem;
            
        }

    }


    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;         // inheriting the parent color
        @media only screen and (max-width: $bp-small){
            margin-right: 0;
            margin-bottom: 7px;
            height: 1.5rem;
            width: 1.5rem;
        }

    }
}

// LEGAL TEXT
.legal{
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem ;
    color: $color-Grey-light-4;

    @media only screen and (max-width: $bp-medium){
        display: none;
    }

}

// Gallery
.gallery{
    display: flex;

    // &__item{

    // }

    &__photo{
        width: 100%;
        display: inline-block;

    }
}

// OVERVIEW
.overview{
    margin-top: -.4rem;
    display: flex;
    align-items: center;
    border-bottom: $line;

    
    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: $bp-small){
            font-size: 1.8rem;
            padding: 1.25rem 2rem; 
        }
    }

    &__stars{
        margin-right: auto;
        display: flex;
    }

    &__icon-star,
    &__icon-location{
        width: 1.75rem;
        height: 1.75rem;
        fill: $color-primary;
    }

    &__location{
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        color: $color-Grey-light-2;
    }

    &__icon-location{
        margin-right: .5rem;
    }

    &__rating{
        background-color: $color-primary;
        margin-left: 3rem;
        color: #fff;
        padding: 0 2.25rem;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width: $bp-small){
            padding: 0 1.5rem; 
        }
    }

    &__rating-average{
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;

        @media only screen and (max-width: $bp-small){
            font-size: 1.8rem;
        }
        
    }

    &__rating-count{
        font-size: .8rem;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small){
            font-size: .5rem;
        }
    }
}


// BUTTON  INLINE
.btn__inline{
    border: none;
    color: $color-primary;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;


    &:hover{
        color: $color-Grey-dark-1;
    }

    &:focus,
    &:hover{
        outline: none;
        animation: pulsate 1s infinite;
        -webkit-animation: pulsate 1s infinite;
}
}





// PARAGRAPH
.paraghraph:not(:last-of-type){
    margin-bottom: 2rem;
}

// LIST
.list{
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: $line;
    border-bottom: $line;

    display: flex;
    flex-wrap: wrap;


    &__item{
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }

    &__item::before{
        // using svg in the css
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;

        // Older browsers, use @support here on mask
        background-image: url('../img/chevron-thin-right.svg');
        background-size: cover;

        // New browser - masks
        // if the browser supports the mask-image then below code will run, else the above code will be rendered
        @supports (mask-size: url()) or(-webkit-mask-image: url()){
            background-color: $color-primary;
            -webkit-mask-image: url('../img/chevron-thin-right.svg');
            -webkit-mask-size: cover;
            mask-image: url('../img/chevron-thin-right.svg');
            mask-size: cover;

            // after that, also remove the older browsers code here
            background-image: none;
        }
        

    }
    
}

// RECOMMENDATION

.recommend{
    font-size: 1.3rem;
    color: $color-Grey-dark-3;
    display: flex;
    align-items: center;
    position: relative;    
    
    &__count{
        margin-right: auto;
    }
    
    &__friends{
        display: flex;
    }
    
    &__photo{
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        &:not(:last-child){
            margin-right: -2rem;
        }

    }
}


// REVIEWS
.review{
    background-color: #fff;
    box-shadow: $box-shadow-1;
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $bp-medium){
        padding: 2rem;
        margin-bottom: 3rem;
    }

    &__text{
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }

    &__user{
        display: flex;
        align-items: center;

    }

    &__photo{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 1.5rem;
}

    &__user-box{
        margin-right: auto;
    }

    &__user-name{
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &__user-date{
        color: $color-Grey-dark-3;
        font-size: 1rem;
    }

    &__user-rating{
        font-size: 2.2rem;
        color: $color-primary;
        font-weight: 300;
    }

    &::before{
        content: "\201C";
        position: absolute;
        top: -3rem;
        left: -1rem;
        font-size: 20rem;
        color: $color-Grey-light-2;
        font-family: sans-serif;
        line-height: 1;
        z-index: 1;
    }
}

// BUTTON

.btn__inline-2{
    border: none;
    color: $color-primary;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;

    & span{
        margin-left: 3px;
        transition: margin-left .2s;
        -webkit-transition: margin-left .2s;
        -moz-transition: margin-left .2s;
        -ms-transition: margin-left .2s;
        -o-transition: margin-left .2s;
}

    &:hover{
        color: $color-Grey-dark-1;

        span{
            margin-left: 8px;
        }
    }



    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
        -webkit-animation: pulsate 1s infinite;
}
}


// CALL TO ACTION
.cta{
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width: $bp-medium){
        padding: 2.5rem 0;
    }

    &__book-now{
        text-transform: uppercase;
        color: $color-Grey-dark-2;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }


}






