

// colors
// TRILLO APP
$color-primary: #eb2f64;
$color-Primary-light: #FF3366;
$color-Primary-dark: #BA265D;

$black: #000;
$shadow-dark: 0 2rem 6rem rgba($black ,.3);

$color-Grey-light-1: #faf9f9;
$color-Grey-light-2: #f4f2f2;
$color-Grey-light-3: #f0eeee;
$color-Grey-light-4: #ccc;

$color-Grey-dark-1: #333;
$color-Grey-dark-2: #777;
$color-Grey-dark-3: #999;

$line: 1px solid $color-Grey-light-2;
$box-shadow-1: 0 2rem 5rem rgba(0,0,0,.06);

$bp-largest: 75em;  // 1200px
$bp-large: 68.75em;  // 1100px
$bp-medium: 56.25em;  // 900px
$bp-small: 37.5em;  // 600px


// NATOURS APP

// $color-primary: #55c57a;
// $color-primary-light: #7ed56fb8;
// $color-primary-dark:  #28b485b8;
// $color-primary-light-text: #7ed56f;
// $color-primary-dark-text:  #28b485;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-gray-dark: #777;
// $color-gray-dark-2: #999;
// $color-gray-dark-3: #333;
// $color-gray-light-2: #eee;
// $color-gray-light-1: #f7f7f7;

// $color-white: #fff;
// $color-black: #000;


// Font
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

