
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
        -webkit-transform: translateX(-10rem);
        -moz-transform: translateX(-10rem);
        -ms-transform: translateX(-10rem);
        -o-transform: translateX(-10rem);
}
    80%{
        transform: translateX(1rem);
        -webkit-transform: translateX(1rem);
        -moz-transform: translateX(1rem);
        -ms-transform: translateX(1rem);
        -o-transform: translateX(1rem);
}
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
        -webkit-transform: translateX(10rem);
        -moz-transform: translateX(10rem);
        -ms-transform: translateX(10rem);
        -o-transform: translateX(10rem);
}
    80%{
        transform: translateX(-1rem);
        -webkit-transform: translateX(-1rem);
        -moz-transform: translateX(-1rem);
        -ms-transform: translateX(-1rem);
        -o-transform: translateX(-1rem);
}
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}


@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(5rem);
        -webkit-transform: translateY(5rem);
        -moz-transform: translateY(5rem);
        -ms-transform: translateY(5rem);
        -o-transform: translateY(5rem);
}
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}