@mixin clear-fix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin  absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate();
    -moz-transform: translate();
    -ms-transform: translate();
    -o-transform: translate();
}