
.header{
    height: 85vh;
    background-image: 
        linear-gradient(
            to right bottom,
            $color-primary-light,
            $color-primary-dark,
            ),
        url('../img/hero-small.jpg');
    background-size: cover;
    position: relative;
    background-position: top;               /* top side always stays at the same top position*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
    clip-path: polygon(0 0,100% 0, 100% 75vh, 0% 100%);

    @supports(clip-path: polygon(0 0) or (-webkit-clip-path: polygon(0 0))){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
        clip-path: polygon(0 0,100% 0, 100% 75vh, 0% 100%);
    height: 95vh;

    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em) , 
            only screen and (-webkit-min-device-pixel-ration: 2) and (min-width: 37.5em) , 
            only screen and (min-width: 125em){
        background-image: 
        linear-gradient(
            to right bottom,
            rgba($color-secondary-light,0.8),
            rgba($color-secondary-dark,0.8),
            ),
        url('../img/hero.jpg');
    }


    @include respond(phone){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100% );
        clip-path: polygon(0 0,100% 0, 100% 85vh, 0% 100%);
        
    }

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 3.5rem;                       /* height of the logo */
    }

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

}