.navigation{
    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-white;
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;

        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port){
            top: 4rem;
            right: 4rem;
        }

        @include respond(phone){
            top: 3rem;
            right: 3rem;
        }
}

    &__background{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light-text, $color-primary-dark-text);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);
        -webkit-transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);
        -moz-transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);
        -ms-transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);
        -o-transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);

        @include respond(tab-port){
            top: 4.5rem;
            right: 4.5rem;
        }
        @include respond(phone){
            top: 3.5rem;
            right: 3.5rem;
        }
}

    &__nav{
        height: 100vh;
        //width: 100%;
        position: fixed;
        top: 0;
        right: 0s;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        -webkit-transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        -moz-transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        -ms-transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        -o-transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);

        list-style: none;
        text-align: center;
        width: 100%;
}

    &__item{
        margin: 1rem;
    }

    &__link{
        color: $color-white ;

        &:link,
        &visited{
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .4s ;
            -webkit-transition: all .4s ;
            -moz-transition: all .4s ;
            -ms-transition: all .4s ;
            -o-transition: all .4s ;
        }

        span {
            margin-right: 1.5rem;
            display: inline-block;
        }


        &:hover,
        &:active{
            color: $color-primary ;
            background-position: 100%;

            transform: translateX(1rem);
            -webkit-transform: translateX(1rem);
            -moz-transform: translateX(1rem);
            -ms-transform: translateX(1rem);
            -o-transform: translateX(1rem);
        }
    }

    // FUNCTIONALITY

    &__checkbox:checked ~ &__background{
        transform: scale(90);
        -webkit-transform: scale(90);
        -moz-transform: scale(90);
        -ms-transform: scale(90);
        -o-transform: scale(90);
    }

    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 100%;
    }

    // ICON
    &__icon{
        position: relative;
        margin-top: 3rem;
        
        &,
        &::before,
        &::after{
            height: 2px;
            width: 3rem;
            background-color: $color-gray-dark-3;
            display: inline-block;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -ms-transition: all .2s;
            -o-transition: all .2s;
}

        &::before{
            top: -.8rem;
        }
        &::after{
            top: .8rem;
        }
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
}
    &__checkbox:checked + &__button &__icon:after{
        top: 0;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
}

}




